#target/
#.idea/
#*.iml
target/surefire-reports/TEST-card.CardTest.xml
*.xml
target/classes/card/Card.class
.idea/workspace.xml
.idea/workspace.xml
*.class
*.jar
*.properties
*.lst
*.txt
.idea/workspace.xml
